<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FiltroAcceso</filter-name>
        <filter-class>WebController.FiltroAcceso</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroAcceso</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Registro Usuario</servlet-name>
        <jsp-file>/WEB-INF/home/Registro.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Inicio Sesion</servlet-name>
        <jsp-file>/WEB-INF/home/InicioSesion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Cerrar Sesion</servlet-name>
        <jsp-file>/WEB-INF/home/CerrarSesion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Ver Info Usuario</servlet-name>
        <jsp-file>/WEB-INF/home/VerInfoUsuario.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Ver Ultimos Partidos</servlet-name>
        <jsp-file>/VerUltimosPartidos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Ver Detalles Equipo</servlet-name>
        <jsp-file>/WEB-INF/home/VerDetallesEquipo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Ver Detalles Jugador</servlet-name>
        <jsp-file>/WEB-INF/home/VerDetallesJugador.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Ver Detalles Competicion</servlet-name>
        <jsp-file>/WEB-INF/home/VerDetallesCompeticion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Ver Tabla Posiciones</servlet-name>
        <jsp-file>/WEB-INF/home/VerTablaPosiciones.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>WebController.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioS</servlet-name>
        <servlet-class>WebController.InicioS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>frameDerecha</servlet-name>
        <jsp-file>/right.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CerrarS</servlet-name>
        <servlet-class>WebController.CerrarS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Equipos</servlet-name>
        <servlet-class>WebController.Equipos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Competiciones</servlet-name>
        <servlet-class>WebController.Competiciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Partido</servlet-name>
        <servlet-class>WebController.Partido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate</servlet-name>
        <servlet-class>WebController.ValidationServlet</servlet-class>
        <init-param>
            <param-name>id</param-name>
            <param-value>""</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DetallesPartido</servlet-name>
        <servlet-class>WebController.DetallesPartido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apostar</servlet-name>
        <servlet-class>WebController.Apostar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formApostar</servlet-name>
        <jsp-file>/WEB-INF/home/formApostar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>IngresoMonedero</servlet-name>
        <servlet-class>WebController.IngresoMonedero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerApuestas</servlet-name>
        <servlet-class>WebController.VerApuestas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jugador</servlet-name>
        <jsp-file>/WEB-INF/home/Jugador.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PaquetePrueba</servlet-name>
        <jsp-file>/WEB-INF/home/Paquete.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ValidarPaquete</servlet-name>
        <servlet-class>WebController.ValidarPaquete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirma Paquete</servlet-name>
        <jsp-file>/WEB-INF/home/ConfirmarPaquete.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AgregarPaquete</servlet-name>
        <servlet-class>WebController.AgregarPaquete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerEstadisticas</servlet-name>
        <servlet-class>WebController.VerEstadisticas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Imagen</servlet-name>
        <servlet-class>WebController.Imagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pencas</servlet-name>
        <servlet-class>WebController.ListarPencas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Participar en Penca</servlet-name>
        <servlet-class>WebController.ParticiparPenca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDF</servlet-name>
        <servlet-class>WebController.PDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>WebController.Index</servlet-class>
    </servlet>
    <servlet>
        <description>aaaaaaaaaaaaaaa</description>
        <servlet-name>Notificaciones</servlet-name>
        <servlet-class>WebController.Notificaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pagos</servlet-name>
        <servlet-class>WebController.Pagos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mandar</servlet-name>
        <servlet-class>WebController.Mandar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro Usuario</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio Sesion</servlet-name>
        <url-pattern>/inicioSes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrar Sesion</servlet-name>
        <url-pattern>/cierreSes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ver Info Usuario</servlet-name>
        <url-pattern>/infoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ver Ultimos Partidos</servlet-name>
        <url-pattern>/ultimosPart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ver Detalles Equipo</servlet-name>
        <url-pattern>/detallesEq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ver Detalles Jugador</servlet-name>
        <url-pattern>/detallesJug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ver Detalles Competicion</servlet-name>
        <url-pattern>/detallesComp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ver Tabla Posiciones</servlet-name>
        <url-pattern>/tablaPos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registroU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioS</servlet-name>
        <url-pattern>/InicioS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frameDerecha</servlet-name>
        <url-pattern>/right</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarS</servlet-name>
        <url-pattern>/CerrarS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Equipos</servlet-name>
        <url-pattern>/equipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Competiciones</servlet-name>
        <url-pattern>/competiciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Partido</servlet-name>
        <url-pattern>/partido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesPartido</servlet-name>
        <url-pattern>/detPart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apostar</servlet-name>
        <url-pattern>/Apostar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formApostar</servlet-name>
        <url-pattern>/formApostar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresoMonedero</servlet-name>
        <url-pattern>/IngresoMonedero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerApuestas</servlet-name>
        <url-pattern>/VerAp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jugador</servlet-name>
        <url-pattern>/jugador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaquetePrueba</servlet-name>
        <url-pattern>/paquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarPaquete</servlet-name>
        <url-pattern>/validarPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirma Paquete</servlet-name>
        <url-pattern>/confirmarPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPaquete</servlet-name>
        <url-pattern>/agregarPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerEstadisticas</servlet-name>
        <url-pattern>/verEstadisticas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Imagen</servlet-name>
        <url-pattern>/imagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pencas</servlet-name>
        <url-pattern>/pencas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Participar en Penca</servlet-name>
        <url-pattern>/ParticiparPenca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDF</servlet-name>
        <url-pattern>/PDF </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notificaciones</servlet-name>
        <url-pattern>/notificaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pagos</servlet-name>
        <url-pattern>/pagos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mandar</servlet-name>
        <url-pattern>/Mandar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
